<div class="modal fade" id ="share_image_view">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">Pixly - Share Pic</h5>
      </div>
      <div class="modal-body">
        <%= form_tag refer_user_path(current_user) do |f| %>
          <%= hidden_field_tag "", name: "image_url", id: "share_image_url" %>
          
          <div class="form-section">
            <%= text_field_tag("invitee_email", params['invitee_email'], class:"form-control", placeholder: "Enter your friends email and hit enter to share") %>
          </div>

          <%= submit_tag("Share", id: "send_invite_btn") %>
        <% end %>
        <img id="image" src="" style="width:100%"/>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->