
<% if @photos %>
  var $newElems = "<%= escape_javascript render @photos %>";
  $newElems.hide();

  $newElems.imagesLoaded(function(){
    $newElems.fadeIn(); // fade in when ready
    $('#main-container').isotope( 'appended', $newElems );
  });
<% else %>
  $('#main-grid').replaceWith("<h3>Oops! there are no posts to show</h3>");
<% end %>

