<% if current_user %>
  <%= render "photos/user_feed" %>
<% else %>
  <%= render "photos/explore_view" %>
<% end %>

<!-- <section id="trending-grid" class="col-md-4 col-sm-0">
  <h4 class="well well-sm">Trending</h4>
  <% @trending_photos.each do |trending_photo| %>
    <%= render "shared/trending_photo", photo: trending_photo %>
  <% end %>
</section> -->
<div class="clearfix"></div>