#content-holder {
  margin-top: 4em;
}

.container {
  width: 1190px;
}

.modal-dialog {
  margin-top: 100px;
}

.navbar {
  background-color: #4670a0;
  border-bottom: 1px solid #4670a0;
}

form .form-control, form .btn  {
  margin-top:1em;
}

.btn.full-width {
  width: 100%;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fcfcfc;
}

.alert-info {
  margin: 1em 2em;
}