// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-header {
  text-align: center;
  width: 30%;
  margin: 9em auto 0 auto;

  h3 {
    color: #ff6600;
    font-weight: bold;
  }

  p { color: #587058 }
}

#welcome-form {
  width: 30%;
  margin: 2em auto;
}